@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital@0;1&display=swap');
* {
    color: #243e63;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
img {
    width: 100%;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}


/*menu*/
 #menu {
    background-color: rgba (115, 66, 214, 0.1);
 }

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.nav__row{
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
}
.logo {
    width: 40px;
    height: 40px;
}
.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin: 0 12px;;
    padding-bottom: 2px;
    letter-spacing: 0.6px; 
}

.nav__link {
    margin: 0 12px;
}

.nav__links {
    display: flex;
    align-items: center;
    margin: 0 24px;
    padding: 0 24px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 24px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}
.btn__menu {
    display: none;
}

.login {
    margin-left: 32px;
}
/*header*/
.header__description {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.header__description--para {
    margin: 20px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}
.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}
.header__customers {
    margin-top: 16px;
    padding-right: 12px;
    opacity: 0.5;
}

.header__img {
    width: 100%;
    max-width: 768px;
}
.header__img--wrapper {
    width: calc(100% - 40%);
}
.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}